<html>

<head>
  <meta charset="UTF-8">
  <title>LIVE­</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/p5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.3/addons/p5.sound.min.js"></script>
  <!--<script language="javascript" type="text/javascript" src="/path/to/p5.scribble.js"></script>-->
</head>

<body>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var socketio = io.connect();
    // var socketio = io.connect('http://133.130.124.246:2017/');
    var d_red = 0,
      d_pink = 0,
      d_yellow = 0,
      d_green = 0,
      d_purple = 0;
    var oto;
    var state = 0;
    socketio.on("all_color_sum", function (data) {
      d_red = data.red;
      d_pink = data.blue;
      d_yellow = data.yellow;
      d_green = data.green;
      d_purple = data.purple;
    });
    /*
        socket.emit("start_web_music");
        socket.emit("stop_web_music");*/
    function preload() {
      oto = loadSound("../assets/oo.mp3");
    }
    // function GetJSON() {
    //   socketio.emit("read_json");
    // }
    function setup() {
      frameRate(10);
      createCanvas(windowWidth, windowHeight);
      background(255);
    }

    function draw() {
      if (state == 0) {
        main();
      } else if (state == 1) {
        start();
      } else if (state == 2) {
        end();
      }
    }

    function main() {
      keyTyped();
    }

    function start() {
      background(255);
      socketio.emit("read_json");
      rect(width / 6, height - d_red, 50, d_red, 20);
      rect(width / 6 * 2, height - d_pink, 50, d_pink, 20);
      rect(width / 6 * 3, height - d_yellow, 50, d_yellow, 20);
      rect(width / 6 * 4, height - d_green, 50, d_green, 20);
      rect(width / 6 * 5, height - d_purple, 50, d_purple, 20);
    }

    function end() {
      socketio.emit("stop_web_music");
    }

    function keyTyped() {
      if (key == 'a') {
        oto.play();
        state = 1;
        socketio.emit("start_web_music");
      }
    }
  </script>
</body>

</html>